* {
    box-sizing: border-box;
}

body {
  margin: 0;
  background: rgba(176, 204, 223, 0.38)
}

/* Style header */
.header {
    background-color: #8ba1a6;
    padding: 20px;
    text-align: center;
}

.header a {
  font-weight: 900;
  font-size: 35px;
  color: rgb(13, 76, 116);
  text-decoration: none;
}

.header a:hover {
  font-size: 37px;
  color: rgb(35, 56, 62);
  border: 4px solid #777;
}

/* Style the top navigation bar */
.topnav {
    overflow: hidden;
    background-color: rgba(137, 198, 207, 0.47);
    padding-left: 15px;
}


/* Style the topnav links */
.topnav a {
    float: left;
    display: block;
    color: rgba(28, 81, 91, 0.86);
    text-align: center;
    padding: 15px 15px 15px 15px;
    transition: color 250ms;
    font-weight: 500;
    font-size: 20px;
    text-decoration: none;
}

/* Change color on hover */
.topnav a:hover {
    color: rgba(249, 206, 222, 0.97);
    background-color: rgba(49, 135, 177, 0.53);
    font-size: 21px;
}

/* Style for highlighted nav section */
.topnav .highlight {
  color: rgba(246, 244, 65, 0.97);
  background-color: rgba(49, 135, 177, 0.53);
  font-size: 21px;
}

/* Programming Style*/
.activitieslist .center {
  text-align: center;
  padding-top: 10px;
}

.activitieslist .intro {
  clear: both;
  float: left;
  font-size: 18px;
  line-height: 1.5;
  text-align: left;
  margin-left: 100px;
  padding-right: 100px;
  margin-top: 0px;
  margin-bottom: 50px;
}

.activitieslist .intro .captain{
  font-size: 35px;
  font-weight: 500;
  line-height: 0.5;
  text-align: left;
  float: left;
}
